# Database Configuration
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=hrm_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

# JWT Configuration
JWT_SECRET_KEY=9f3c2a7b6d4e8f1c0a5b9d3e7f6c2a1d8b4e7f0c9a6d3b5f1e8c2a7d9b0f4e6
JWT_ISSUER=api-auth-server
JWT_AUDIENCE=api-auth-clients
JWT_COOKIE_NAME=sso_token

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002,http://localhost:5001
